@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Corsiva";
  font-weight: 400;
  font-display: auto;
  src: url(/fonts/corsiva.ttf) format("truetype");
}

input::placeholder {
  text-align: center;
  color: var(--secondary);
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container > input {
  width: inherit;
}

.Toastify__toast {
  border-radius: 20px;
  box-shadow: none;
  border: 1px solid #d6bd7f; /* secondary */
}

.Toastify__toast--success {
  background-color: white;
  color: #373232; /* input */
}

.Toastify__toast--error {
  background-color: white;
  color: #e15f5f; /* error */
}
